<div class="miCssGeopos">
  <small>[Aquí GeoposComponent, hijo de HomePage]</small>
  <ion-text class="ion-text-center" color="danger">
    <h3>Datos GPS del dispositivo</h3>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div>
          <p>Precisión: {{miPrecision1}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>Latitud: {{miLatitud1}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>Longitud: {{miLongitud1}}</p>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <div>
          <p>Altitud: {{miAltitud1}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>Rumbo: {{miRumbo1}}</p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <p>Velocidad: {{miVelocidad1}}</p>
        </div>
      </ion-col>
    </ion-row>


  </ion-grid>

</div>
